@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
}

.loading.show {
    display: block;
}

.loading.hide {
    display: none;
}

.loading.show.htmx-request {
    display: none;
}

.loading.hide.htmx-request {
    display: block;
}
